.youTudeVideoDetails {
    margin-left: 30%;
}

.projectDetails {
    margin-left: 30%;
    font-size: medium;
    font-stretch: semi-condensed;
    font-style: italic;
    font-weight: 500;
    font-kerning: normal;
}


/* .skills {
    background: #f5f4e6;
} */